<%-layout('layout')%>
<%-partial('sidebar')%>
<div id="content">
	<div class="panel">
		<div class="header">
			<ul class="breadcrumb">
				<li><a href="/">首页</a><span class='divider'>/</span></li>
				<li>注册</li>
			</ul>
		</div>
		<div class="inner">
			<% if(typeof(error) != 'undefined' && error){%>
			<div class="alert alert-error">
				<strong><%=error%></strong>
			</div>
			<% }%>

			<% if(typeof(success) != 'undefined' && success){%>
			<div class="alert alert-error">
				<strong><%=success%></strong>
			</div>
			<% }%>
			<form action="/signup" method='post' id="signup_form" class="form-horizontal">
				<div class="control-group">
					<label for="" class="control-label">用户名</label>
					<div class="controls">
						<input type="text" name='loginname' id="loginname" class="input-xlarge">
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">密码</label>
					<div class="controls">
						<input type="password" name='pass' id="pass" class="input-xlarge">
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">确认密码</label>
					<div class="controls">
						<input type="password" name='re_pass' id="re_pass" class="input-xlarge">
					</div>
				</div>
				<div class="control-group">
					<label for="" class="control-label">电子邮箱</label>
					<div class="controls">
						<input type="text" name='email' id="email" class="input-xlarge">
					</div>
				</div>
				<div class="form-actions">
					<input type="submit" class="span-primary" value='注册'>
					<input type="reset" class="span-info" value='重置表单'>
				</div>
			</form>
		</div>
	</div>
</div>