<%- layout('layout')%>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="h1">关于</div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    CNode：Node.js专业中文社区
                    <br/>
                    <br/>
                    <p>您可以<a href="/login"> 登录 </a>或<a href="/sign"> 注册 </a>,也可以 <br/><button type="button" class="btn btn-info">通过 GitHub 登录</button></p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户端二维码
                </div>
                <div class="panel-body">
                    <img src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU" alt="二维码" style="display: block;width: 90%;height: 90%;margin: 0 auto"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.btn-primary').on('click',function(){
            var data={
                name:$('#form_name').val(),
                email:$('#form_email').val(),
                phone:$('#form_tel').val(),
                passord:$('#form_psd').val(),
            }
            var flag = true
            for(var k in data){
                if(data[k]==''){
                    flag = false
                }
            }
            console.log(data);
            if(flag){
                /*ajaxrequest('/signin','POST',data,function(res){

                },function(res){

                })*/
                $.ajax({
                    url:'/signin',
                    type:'POST',
                    dataType:'JSON',
                    data:data,
                    success:function(result){

                    },
                    error:function(res){

                    }
                })
            }
        })
    })
</script>