<%- layout('layout')%>

<div class="container indexPage">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="topChange clearfix">
                        <li>全部</li>
                        <li>精华</li>
                        <li>评论</li>
                        <li>问答</li>
                        <li>最右</li>
                        <li>火星文字</li>
                        <!--排序
                        1、默认时间
                        2、查看次数
                        3、评论次数
                        4、赞数
                        5、随意
                        -->
                    </ul>
                </div>
                <div class="panel-body" style="padding:0 0 5px 0;">
                    <ul id="indexUl">
                        <% for(var i=0;i < list.length;i++){ %>
                        <li messageId="<%= list[i]['messageId'] %>">
                            <img src="<%= list[i]['avtor']?list[i]['avtor']:'/images/logo.jpg' %>" alt="" style="width: 30px;height: 30px;display: inline-block;border-radius: 15px;"/>
                            <span class="saySeeNum">
                                <span class="sayNum" title="回复数">
                                    <%= list[i]['sayNum'] %>
                                </span>
                                / <%= list[i]['seeNum'] %>
                            </span>
                            <span class="title">
                                <%= list[i]['title'] %>
                            </span>
                            <span class="goodZan">
                                <i class="iconfont icon-zan" style="cursor: pointer"></i>
                                <%= list[i]['goodZan'] %>
                            </span>
                        </li>
                        <% } %>
                    </ul>
                    <div><%- partial('pages') %></div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 hidden-xs">
            <% if(username){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    CNode：Node.js专业中文社区
                    <br/>
                    <br/>
                    <button type="button" class="btn btn-info addStats">发表文章</button>
                </div>
            </div>
            <% }else{ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    CNode：Node.js专业中文社区
                    <br/>
                    <br/>
                    <p>您可以<a href="/login"> 登录 </a>或<a href="/sign"> 注册 </a>,也可以 <br/><button type="button" class="btn btn-info">通过 GitHub 登录</button></p>
                </div>
            </div>
            <% } %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户端二维码
                </div>
                <div class="panel-body">
                    <img src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU" alt="二维码" style="display: block;width: 90%;height: 90%;margin: 0 auto"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        /*获取数据*/
        var username = '<%= username %>';
        var index = '<%= index %>';
        $('.topChange li').eq(index).addClass('active').siblings('li').removeClass('active');


        $('.topChange li').click(function(){
            window.location.href = '/?index='+$(this).index()
        })
        $('.addStats').click(function(){
            window.location.href = '/messagePage'
        })

        /*点赞*/
        $('.zanBottom').on('click',function(){
            var messageid = $(this).parent().parent('li').attr('messageid');
            if(!username||username=='undefined'){
                alert('请先登录')
                return
            }
            ajaxrequest('/thumbsUp','POST',{
                messageid:messageid,
                username:username
            },function(res){
                console.log(res);
            },function(){

            })
        })

        /*查看详情*/
        $('#indexUl li').click(function(){
            window.location.href = '/messageDetail?messageId='+$(this).attr('messageid')
        })
        $('#sotBySeenum').click(function(){
            window.location.href = '/?sortBy=seeNum'
        })
    })
</script>