<%- layout('layout')%>

<div class="container indexPage">
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <ul class="topChange clearfix">
                        <li class="active">全部</li>
                        <li>精华</li>
                        <li>分享</li>
                        <li>问答</li>
                        <li>招聘</li>
                        <li>客户端测试</li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="h1">首页</div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 hidden-xs">
            <% if(username){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    CNode：Node.js专业中文社区
                    <br/>
                    <br/>
                    <button type="button" class="btn btn-info addStats">发表文章</button>
                </div>
            </div>
            <% }else{ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    CNode：Node.js专业中文社区
                    <br/>
                    <br/>
                    <p>您可以<a href="/login"> 登录 </a>或<a href="/sign"> 注册 </a>,也可以 <br/><button type="button" class="btn btn-info">通过 GitHub 登录</button></p>
                </div>
            </div>
            <% } %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户端二维码
                </div>
                <div class="panel-body">
                    <img src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU" alt="二维码" style="display: block;width: 90%;height: 90%;margin: 0 auto"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.topChange li').click(function(){
            $(this).addClass('active').siblings('li').removeClass('active')
        })
        $('.addStats').click(function(){
            window.location.href = '/messagePage'
        })
    })
</script>