<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>cnodejs</title>
    <link rel="shortcut icon" href="/images/g.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Stylesheets/base.css"/>
    <link rel="stylesheet" href="/Stylesheets/style.css"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/javascripts/commom.js"></script>

    <!--文件上传-->
    <script src="/fileload/vendor/jquery.ui.widget.js"></script>
    <script src="/fileload/jquery.iframe-transport.js"></script>
    <script src="/fileload/jquery.fileupload.js"></script>

</head>
<body>
<div class="haeder"><%- partial('header') %></div>
<div id="main">
    <%- body %>
</div>
</body>
</html>