<%- layout('layout')%>
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-body detail">
                    <div class="bodyTitle">
                        <span class="logoTop">制定</span>
                        <h2 style="">
                            <%= detail.title %>
                        </h2>
                        <ol class="smallGrayinformation clearfix">
                            <li>发布于 7 个月前</li>
                            <li>作者： <%= detail.username %></li>
                            <li>71468 次浏览</li>
                            <li>最后一次编辑是 5 个月前</li>
                        </ol>
                    </div>
                    <div class="bodycontent">
                        <%- detail.content %>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-3 hidden-xs">
            <% if(username){ %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    作者
                </div>
                <div class="panel-body">

                </div>
            </div>
            <% }else{ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    CNode：Node.js专业中文社区
                    <br/>
                    <br/>
                    <p>您可以<a href="/login"> 登录 </a>或<a href="/sign"> 注册 </a>,也可以 <br/><button type="button" class="btn btn-info">通过 GitHub 登录</button></p>
                </div>
            </div>
            <% } %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户端二维码
                </div>
                <div class="panel-body">
                    <img src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU" alt="二维码" style="display: block;width: 90%;height: 90%;margin: 0 auto"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

    })
</script>