<%- layout('layout')%>
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-body detail">
                    <div class="bodyTitle">
                        <span class="logoTop">制定</span>
                        <h2 style="">
                            <%= detail.title %>
                        </h2>
                        <ol class="smallGrayinformation clearfix">
                            <li>发布于 7 个月前</li>
                            <li>作者： <%= detail.username %></li>
                            <li>71468 次浏览</li>
                            <li>最后一次编辑是 5 个月前</li>
                        </ol>
                    </div>
                    <div class="bodycontent">
                        <%- detail.content %>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xs-3 hidden-xs">
            <div class="panel panel-default">
                <div class="panel-heading">
                    作者
                </div>
                <div class="panel-body">
                    <img src="<%= userInfor.avtor %>" alt="" id="logo"/>
                    <span style="padding-left: 10px"><%= userInfor.username %></span>
                    <div style="padding-top: 10px"><span>积分：</span>150</div>
                    <div style="padding-top: 10px"> "狼叔说：少抱怨，多思考，未来更美好 "</div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    客户端二维码
                </div>
                <div class="panel-body">
                    <img src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU" alt="二维码" style="display: block;width: 90%;height: 90%;margin: 0 auto"/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var userInfor  = changeToObject('<%= JSON.stringify(userInfor) %>');
    })
</script>