<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel='stylesheet' href='/public/bootstrap/css/bootstrap.css'>
	<link rel='stylesheet' href='/public/stylesheets/common.css'>
	<link rel='stylesheet' href='/public/stylesheets/style.css'>
	<link rel='stylesheet' href='/public/stylesheets/jquery.atwho.css'>
	<script src='/public/jquery-2.1.0.js'></script>
	<script src='/public/bootstrap/js/bootstrap.js'></script>
</head>
<body>
	<div class="navbar"><%-partial('navbar')%></div>
	<div id="main"><%- body %></div>
</body>
</html>